*~

typings/*
typings.json
jsconfig.json
node_modules/*
npm-debug.log

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

#mergetool
*.BASE*
*.LOCAL*
*.REMOTE*
*.BACKUP*

config/config.json
send/*
